<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4 align="left">{{ site.teamBlockTitle }}</h4>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
             <h4 align="left">{{ site.teamsub_1BlockTitle }}</h4>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.targetAudience }}</p>
             <h4 align="left">{{ site.teamsub_2BlockTitle }}</h4>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.confRequirement }}</p>
        </div>
    </div>
</section>
<!-- End Team List -->
